Hi,<br>
This is an auto generated mail from Team Procialize.
<br>
<b><%= @from_user%></b> would like to meet you.

To schedule a meeting, please log in to <a href="<%= Customizer.first.ga %>">Procialize</a>
<br>
Regards,
Team Procialize