Hi,<br>
This is an auto generated mail from Team Procialize.
<br>
A message has been sent to you from <b><%= @from_user%></b>

To view the message please log in to <a href="<%= Customizer.first.ga %>">Procialize</a>
<br>
Regards,
Team Procialize