<!--<ul class="message_alternate_colored_list" style="height: 275px;overflow-y: auto;position: relative;left:-5%;padding: 5px;">-->
<ul class="message_alternate_colored_list">
  <div class="loader"><img src="assets/ajax_loader.gif"></div>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <% @feeds.each_with_index do |f, index| %>

          <div class="item">
            <li style="cursor:pointer;">
              <%= hidden_field_tag "link", profile_path(f.user.id), :class => "goto" %>
              <div class="row-fluid" style="height: 10%;width: 100%">
                <div class="span12">
                  <div class="row-fluid message_list_header">
                    <span class="span10">  <%= (f.user.name.to_s rescue "") + " - "+ (f.user.headline.to_s rescue "") + "," + (f.user.company.to_s rescue "") %>
                      says...</span>
                  </div>
                  <div class="row-fluid" style="padding: 2%">

                    <div class="span2 hidden-phone">
                      <%= image_tag f.user.user_pic.url, :class => "img-responsive " %>
                    </div>
                    <div class="span9">

                      <div class="row-fluid">
                        <span class="user_message">  <%= f.message %></span>
                      </div>


                    </div>


                  </div>
                </div>
              </div>


            </li>


          </div>


      <% end %>

    </div>
  </div>
</ul>