<%= form_tag({:controller => "feeds",:action => "create"}) do %>

    <ul class="post_colored" style="list-style-type: none">
      <li>
        <div class="row-fluid">
          <div class="row-fluid">
            <div class="span7">
              <%= text_area_tag "post",nil,:style => 'width:100%; height:50px;',:placeholder => 'Post your Update here',:required => true %>
            </div>
            <div class="span2 offset3">
              <button type="submit" class="btn-update" style="float: right;">Update</button>
            </div>
          </div>


        </div>
      </li>
    </ul>





<% end %>