
<%= content_for(:first_half) do%>


    <div class="row-fluid" style="margin-top: 2%">
      <div class="span12" style="height: 425px">
        <%= render :partial => "welcome/user_list" %>
      </div>
    </div>

<% end %>